
@*@model IEnumerable<Task_1.Models.Student>*@
@using PagedList.Mvc


@model Task_1.Models.PagedList<Task_1.Models.Student>

@{
    ViewBag.Title = "Student";
}

<a href="@Url.Action("ExportToExcel", "Students", new { studentIds = string.Join(",", Model.List.Select(s => s.StudentId)) })" class="btn" style="background-color: darkcyan; color: white;">Excel</a>

<a href="@Url.Action("GeneratePdf", "Students", new { studentIds = string.Join(",", Model.List.Select(s => s.StudentId)) })" class="btn" style="background-color: darkgoldenrod; color: white;">Pdf</a>

<table id="studentTable" class="table">
    <tr>
        <th>
            StudentId
        </th>
        <th>
            StudentName
        </th>
        <th>
            BirthDay
        </th>
        <th></th>
    </tr>
    @if (Model.List.Count() > 0)
    {
        foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>
                <td></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">No data found.</td>
        </tr>
    }
   
</table>
