@model IEnumerable<Task_1.Models.Student>

@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>

<div style="display: flex; align-items: center;">
    <div style="margin-right: 10px;">
        <input class="form-control" id="StudentName" name="StudentName" type="text" placeholder="Student Name">
    </div>
    <div style="margin-right: 10px;">
        <input class="form-control" id="StudentId" name="StudentId" type="number" placeholder="Student Id">
    </div>
    <button class="btn btn-primary" type="button" id="searchButton">Search</button>
</div>


@*<a href="@Url.Action("ExportToExcel", "Students", new { studentIds = string.Join(",", Model.Select(s => s.StudentId)) })" class="btn" style="background-color: darkcyan; color: white;">Excel</a>

    <a href="@Url.Action("GeneratePdf", "Students", new { studentIds = string.Join(",", Model.Select(s => s.StudentId)) })" class="btn" style="background-color: darkgoldenrod; color: white;">Pdf</a>*@

<table id="studentTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDay)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>
                <td></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">No data found.</td>
        </tr>
    }
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchButton').click(function () {
                var studentName = $('#StudentName').val();
                var studentId = $('#StudentId').val();

                $.ajax({
                    url: '@Url.Action("Student", "Students")',
                    type: 'Post',
                    data: { studentName: studentName, studentId: studentId },
                    success: function (result) {
                        $('#studentTable').html(result);
                    }
                });
            });
        });
    </script>
}
