@*@model IEnumerable<Task_1.Models.Student>*@
@using PagedList.Mvc
@*@model PagedList.IPagedList<Task_1.Models.Student>*@

@model Task_1.Models.FilterModel<Task_1.Models.Student>

@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>

<div style="display: flex; align-items: center;">
    <div style="margin-right: 10px;">
        <input class="form-control" id="StudentName" name="StudentName" type="text" placeholder="Student Name">
    </div>
    <div style="margin-right: 10px;">
        <input class="form-control" id="StudentId" name="StudentId" type="number" placeholder="Student Id">
    </div>
    <button class="btn btn-primary" type="button" id="searchButton">Search</button>
</div>


<table id="studentTable" class="table">
    <tr>
        <th>
            StudentId
        </th>
        <th>
            StudentName
        </th>
        <th>
            BirthDay
        </th>
        <th></th>
    </tr>
    @if (Model.List.Count() > 0)
    {
        foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>
                <td></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">No data found.</td>
        </tr>
    }
    <tr>
        <td colspan="4">
            @Html.PagedListPager(Model.List, page => Url.Action("Student", new { page }))
        </td>
    </tr>
</table>
@*<ul class="pagination">
    @Html.PagedListPager(Model.List, page => Url.Action("Student", new { page}))
</ul>*@

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchButton').click(function () {
                var studentName = $('#StudentName').val();
                var studentId = $('#StudentId').val();

                $.ajax({
                    url: '@Url.Action("Student", "Students")',
                    type: 'Post',
                    data: { studentName: studentName, studentId: studentId },
                    success: function (result) {
                        $('#studentTable').html(result);
                    }
                });
            });
        });
    </script>
}
